.container {
  position: relative;
  top: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-row-gap: 20px;
  grid-column-gap: 75px;
  justify-content: center;
  justify-items: center;
}

.productos {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img {
  width: 100%;
}

.info p {
  font-weight: bold;
  text-align: center;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: blueviolet;
  transition: all 0.5s ease;
}
