.cartContainer {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
}

.btnCartContainer {
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 2;
}

svg {
  height: 25px;
  margin-right: 2px;
}

.btnCart {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #cfa8ff 0,
    #9d8bff 25%,
    #6c6cd8 50%,
    #3f4ea4 75%,
    #153375 100%
  );
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  position: relative;
  top: 20px;
  right: 20px;
}

.productsNumber {
  height: 20px;
  width: 20px;
  border-radius: 999px;
  position: absolute;
  bottom: 15px;
  top: 0;
  right: 0;
  background-color: crimson;
  font-size: 12px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
}

.cart {
  position: absolute;
  top: 50px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #cfa8ff 0,
    #9d8bff 25%,
    #6c6cd8 50%,
    #3f4ea4 75%,
    #153375 100%
  );
}
.cart h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.cartvacio {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  width: 350px;
  font-size: 20px;
  font-weight: bold;
}
.total {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  padding-bottom: 35px;
  z-index: 2;
}

.productoContainer {
  max-height: 200px;
  overflow-y: scroll;
  margin-top: 5px;
  position: relative;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}
